<div class="info">
  <h2>About Me</h2>
  <p>I am bilingual in both English and Polish and also have dual citizenship in both the United States of America and the European Union.
    I'm interested in continuing to learn more about front-end software engineering, while also beginning to focus on API development and database administration.
    Additionally, I want to work on creative and innovative projects in both individual and collaborative environments.
    Outside of education, I love to mountain bike, ski, hike, camp, watch theater, and read books. </p>
</div>