.main{
  height: 45%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("Photos/skis.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  text-align: center;
  background-color: #1D1D1D;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.info {
  color: #777;
  background-color: white;
  padding: 50px 10%;
  text-align: justify;
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 10%;
  grid-gap: 80px;
}

.mat-card-title{
  text-align: center;
  background-color: #4D4D4D;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 6px;
}

.mat-card-header{
  background-position: center;
  background-size: cover;
  height: 200px;
}

.game{
  background-image: url("Photos/game.jpg");
}

.spotify{
  background-image: url("Photos/spotify.jpg");
}

.school{
  background-image: url("Photos/school.jpg");
}

.mat-card{
  font: 400 15px/1.8 "Lato", sans-serif;
  padding:0px;
  width: 400px;
  padding-bottom: 30px;
}

.mat-card-content{
  padding:20px;
  padding-bottom: 0px;
}

.button{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mat-card-actions{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
}
