<div class="main">
  <a routerLink="/portfolio" routerLinkActive="active">
    <h1>PATRYK WISNIEWSKI</h1>
  </a>
</div>

<!-- http://ivylab.space/carousel -->
<carousel
    [images]="images"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [arrowsOutside]="false"
    [autoplay]="true"
    [autoplayInterval]="10000"
    [transitionDuration]="1000"
    [dots]="true"
    [loop]="true"
    [pauseOnHover]="true">
</carousel>  

<router-outlet></router-outlet>

<div class="projectCards">
    <mat-card>
      <mat-card-header class="game"></mat-card-header>
      <mat-card-title>
        <h3>DUNGEON CRAWLER</h3>
      </mat-card-title>
      <mat-card-content>
        <p>
          An individual project where I taught myself Unity, C#, and Javascript
          to create an alpha version of a dungeon crawler. Concepts I learned
          included UI Design, level design, lighting, and linear interpolation
          to overcome many design hurdles.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/dungeonCrawlerComponent" routerLinkActive="active">
          <button class="button" mat-raised-button color="default">More Details</button>
        </a>
        <a href="https://drive.google.com/uc?id=1uG9KRJWEhEXFgbKw4HzMdArQA-TIOYoL&export=download">
          <button class="button" mat-raised-button color="default">Download (Windows)</button>
        </a>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header class="spotify"></mat-card-header>
      <mat-card-title>
        <h3>SPOTIFY SAFE PLAYLISTS</h3>
      </mat-card-title>
      <mat-card-content>
        <p>
          An individual project that uses Spotify’s API, along with Javascript and Node.JS, to create playlists of “safe” music.
          Safe in this case meaning music that would be considered mainstream enough that most people would enjoy and you would be comfortable sharing it.
          Working on the project in my free time and planning on incorporating filters to fine-tune playlists.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/spotifyProjectComponent" routerLinkActive="active">
            <button class="button" mat-raised-button color="default">More Details</button>
        </a>
        <a href="https://spotify-safe-playlists.herokuapp.com/" target="_blank">
          <button class="button" mat-raised-button color="default">Launch<mat-icon>launch</mat-icon></button>
        </a>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header class="school"></mat-card-header>
      <mat-card-title>
        <h3>BROCCOLI'S JOURNEY</h3>
      </mat-card-title>
      <mat-card-content>
        <p>
          A group project where I mentored three people on how to use Unity to create a 2D platformer.
          Using Node.JS and firebase, I integrated the game into our web app.
          I also created 2D environments and a user-friendly UI for the game.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/broccolisJourneyComponent" routerLinkActive="active">
            <button class="button" mat-raised-button color="default">More Details</button>
        </a>
        <a href="https://kylefaucher.github.io/game-website/finalbuild/index.html" target="_blank">
          <button class="button" mat-raised-button color="default">Launch<mat-icon>launch</mat-icon></button>
        </a>
      </mat-card-actions>
    </mat-card>
</div>