<div class="main">
  <span class="border">PATRYK WISNIEWSKI</span>
</div>

<div class="info">
  <h3>About Me</h3>
  <p>I am bilingual in both English and Polish and also have dual citizenship in both the United States of America and the European Union.
    I'm interested in continuing to learn more about front-end software engineering, while also beginning to focus on API development and database administration.
    Additionally, I want to work on creative and innovative projects in both individual and collaborative environments.
    Outside of education, I love to mountain bike, ski, hike, camp, watch theater, and read books. </p>
</div>

<div class="projectCards">
  <mat-card>
    <mat-card-header class="game"></mat-card-header>
    <mat-card-title>DUNGEON CRAWLER</mat-card-title>
    <mat-card-content>
      <p>
        An individual project where I taught myself Unity, C#, and Javascript
        to create an alpha version of a dungeon crawler. Concepts I learned
        included UI Design, level design, lighting, and linear interpolation
        to overcome many design hurdles.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://drive.google.com/uc?id=1uG9KRJWEhEXFgbKw4HzMdArQA-TIOYoL&export=download">
        <button class="button" mat-raised-button color="primary">Download (Windows)</button>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header class="spotify"></mat-card-header>
    <mat-card-title>SPOTIFY SAFE PLAYLISTS</mat-card-title>
    <mat-card-content>
      <p>
        An individual project that uses Spotify’s API, along with Javascript and Node.JS, to create playlists of “safe” music.
        Safe in this case meaning music that would be considered mainstream enough that most people would enjoy and you would be comfortable sharing it.
        Working on the project in my free time and planning on incorporating filters to fine-tune playlists.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://spotify-safe-playlists.herokuapp.com/" target="_blank">
        <button class="button" mat-raised-button color="primary">Launch<mat-icon>launch</mat-icon></button>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header class="school"></mat-card-header>
    <mat-card-title>BROCCOLI'S JOURNEY</mat-card-title>
    <mat-card-content>
      <p>
        A group project where I mentored three people on how to use Unity to create a 2D platformer.
        Using Node.JS and firebase, I integrated the game into our web app.
        I also created 2D environments and a user-friendly UI for the game.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://kylefaucher.github.io/game-website/finalbuild/index.html" target="_blank">
        <button class="button" mat-raised-button color="primary">Launch<mat-icon>launch</mat-icon></button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
