.main{
  height: 45%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("Photos/skis.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  text-align: center;
  background-color: #1D1D1D;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
