html, body{
  background-color: #1D1D1D;
  height: 100%;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  color: #777;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}
