html, body{
  background-color: #1D1D1D;
  height: 100%;
  margin: 0px;
  font-family: "Raleway", sans-serif;
  color: #777;
}

h1 {
  letter-spacing: 10px;
  font-size: 64px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  text-shadow: 3px 3px 5px #000;
}

h2 {
  letter-spacing: 5px;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  color: #111;
  text-align: center;
  margin-top: 0;
}

h3 {
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0;
}

p {
  font-size: 20px;
  font-weight: 300;
  color: #666;
  text-align: center;
}

.mat-default {
  background-color: #00CCFF;
}

.mat-default:hover {
  background-color: #0099BF;
}

.mat-default:active
{
  background-color: #006680;
}

.main{
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index: 1111111;
  pointer-events: none;
}